/* .header {
    
} */

.logo {
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    width: 100px;
    height: 100px;
}

.title {
    text-align: center;
}

.subheading {
    margin-left: 2%;
    text-align: center;
}

.input {
    margin-top: 1%;
    width: 50%;
    float: left;
}

.input-box {
    margin-left: 2%;
    margin-right: 2%;
    width: 96%;
    min-height: 300px;
    border-radius: 2px;
    background-color: #6766FF;
}

.input-button {
    margin-top: 1%;
    margin-left: 2%;
    border-radius: 2px;
    background-color: #6766FF;
    width: 50px;
}

.output {
    margin-top: 1%;
    margin-left: 50%;
}

.output-box {
    margin-left: 2%;
    margin-right: 2%;
    height: 300px;
    border-radius: 2px;
    background-color: #FF5035;
}

.page-buttons {
    margin-top: 1%;
    margin-left: 1%;
    width: 50px;
    border-radius: 2px;
}

.page-buttons:link, .page-buttons:visited {
  background-color: #B35B9A;
  color: black;
  /* padding: 10px 20px; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.page-buttons:hover, .page-buttons:active {
  background-color: #D15772;
  color: white;
}

.help-text {
    width: 80%;
    margin-left: 10%;
}

html {
    height: 100%;
    background-color: #955FC2;
    background: -webkit-linear-gradient(45deg, #FF5035, #6766FF);
    background: -moz-linear-gradient(45deg, #FF5035, #6766FF);
    background: -ms-linear-gradient(45deg, #FF5035, #6766FF);
    background: -o-linear-gradient(45deg, #FF5035, #6766FF);
    background-image: linear-gradient(45deg, #FF5035, #6766FF);
  }