/* .header {
    
} */

.logo {
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    width: 100px;
    height: 100px;
}

.title {
    text-align: center;
}

html {
    height: 100%;
    background-color: #955FC2;
    background: -webkit-linear-gradient(45deg, #FF5035, #6766FF);
    background: -moz-linear-gradient(45deg, #FF5035, #6766FF);
    background: -ms-linear-gradient(45deg, #FF5035, #6766FF);
    background: -o-linear-gradient(45deg, #FF5035, #6766FF);
    background-image: linear-gradient(45deg, #FF5035, #6766FF);
  }
  